<form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" autocomplete="off" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" autocomplete="off" id="password">

    <button type="button" id="btnLogin">Log In</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>